@charset "UTF-8";

  :root {
    --btn-color: #ffe400;
    --btn-hover-color: #ecdf66;
    --main-color:#0c5a3b;
  }
  
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}
html {
    scroll-behavior: smooth;
}
body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #1e1e1e;
  font-family: Arial, Helvetica, sans-serif;
}

input,
button,
textarea {
  font-size: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
.btn {
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color ease-in-out 0.2s;
}


.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  line-height: 1.2;
}

.wrapper > main {
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.header {
  align-items: center;
  left: 0;
  position: fixed;

  right: 0;
  top: 0;
  z-index: 5;
}

.header__box {
  max-width: 1220px;
  margin: 0 auto;
}

.header__content {
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
  padding: 23px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  max-width: 130px;
  padding: 5px;
  border: 1px solid var(--main-color);
}
.footer__logo {
    max-width: 130px;
  padding: 5px;
  border: 1px solid #fff;
}
.header__name, .footer__logo {
    font-size: 30px;
}


.header__contacts {
  display: flex;
}

.header__list {
  max-width: 870px;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #bacec9;
  opacity: 0.96;
}

.menu {
    max-width: 700px;
  height: inherit;
  
}

.menu__list {
  display: flex;
  height: inherit;
  align-items: center;
  gap: 30px;
}

.menu__item {
  transition: all ease 0.3s;
  font-weight: 600;
}

.menu__link {
  font-size: 16px;
  font-weight: 700;
}
.menu__link:hover {
    color: var(--main-color);
}

.menu__tel {
    max-width: 190px;  
    text-align: end;  
}
.menu__days, .footer__time {
    font-size: 10px;
  color: #595757;
    font-weight: 400;
}
.header__btn {
 max-width: 163px;
 width: 100%;
 height: 40px; 
 background-color: #f5f5f5;
}
.main {

}
.bg__container {
    padding-top: 86px;
    background-color: #f5f5f5;
    background-image:  linear-gradient(333deg, rgba(9,43,15,1) 16%, rgba(12,90,59,1) 28%, rgba(237,239,245,0.5648460067620799) 80%, rgba(245,245,245,1) 92%);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bg__box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0 0;
    display: flex;
    justify-content: space-between;
}
.bg__title, .bg__subtitle {
    max-width: 380px;
    font-size: 40px;
  line-height: 49px;
  font-weight: 600;
}

.bg__img {
    max-width: 480px;
    width: 100%;

}

.bg__img img {
    width: 100%;
}
.bg__content {
    margin-top: 100px;
}
.bg__btn {
    max-width: 242px;
    width: 100%;
    height: 44px;
    margin-top: 50px;
    background-color: #f5f5f5;
}
.advantages__container {
    padding: 80px 20px;
}
.advantages__title {  
  margin-bottom: 50px;  
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--main-color);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.advantages__items {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.advantages__item {
    max-width: 320px;
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 2px 15px rgba(34, 90, 172, 0.25);
  flex: 1 0;
  transition: all ease-in-out 0.2s;
}
.advantages__item:hover {
    box-shadow: 0 2px 15px rgba(34, 90, 172, 0.4);
}
.advantages__item-img {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.advantages__item-img img {
    height: 40px;
    width: auto;
    margin-right: 15px;
}
.advantages__item-img h3 {
    color: var(--main-color);
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
}
.advantages__item p {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
}
.advantages__item-list {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}
.advantages__item-list::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: var(--btn-color);
    border-radius: 50%;
}
.borrow {
    background-color: #f5f5f5;
}
.borrow__container {
    padding: 80px 10px;
}
.borrow__items {
    max-width: 970px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.borrow__item {
    max-width: 300px;
    display: flex;
    gap: 15px;
}
.borrow__item-number {
    width: 60px;
    height: 60px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
  line-height: 60px;
  font-weight: 700;
  flex-shrink: 0;
  transition: all ease-in-out 0.2s;
}
.borrow__item-number:hover {
    transform: rotate(45deg);
}
.borrow__item-content h3 {
    margin-bottom: 10px;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #303030;
}
.borrow__btn {
    width: 199px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: #fff;
}
.reviews__container {
    padding: 80px 10px;
}
.reviews__slider {
    max-width: 1190px;
    margin: 50px auto 0;
    padding-left: 20px;
    padding-bottom: 50px;
}
.reviews__slide-title img {
    height: 40px;
    width: auto;
    border-radius: 40px;
}
.reviews__slide {
    max-width: 310px;
    min-height: 346px;
    padding: 30px;
  background: #f5f5f5;
  display: grid;
  grid-template-rows: 55px auto;
}
.reviews__slide-title {
    display: flex;
}
.reviews__slide-title h3 {
    margin-left: 15px;
    font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #303030;
}
.reviews__slide-text {
    padding-left: 10px;
  font-weight: 600;
  line-height: 18px;
  color: var(--main-color);
  font-size: 15px;
}
.reviews__slide-date {
    font-size: 12px;
  line-height: 15px;
  color: #C4C4C4;
  align-self: flex-end;
}
.swiper-button-prev::after, .swiper-button-next::after {
    content: "";
    opacity: 0;
}
.main-button-prev, .main-button-next {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
.main-button-prev {
    transform: rotate(180deg);
}
.swiper-button-prev {
    left: 0;
}
.swiper-pagination-bullet-active {
    background-color: var(--main-color);
}
.app {
    background-color: var(--main-color); 
}
.app__container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px 0;
    display: flex;
    justify-content: space-between;
}
.app__content h2 {
    font-size: 40px;
    color: #fff;
}
.app__subtitle {
    margin-top: 30px;
    color: #fff;
    font-size: 24px;
}
.app__content {
    max-width: 600px;
    margin-top: 80px;
    padding-bottom: 50px;
}
.app__btn {
    width: 180px;
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.app__img {
    align-self: end;
}
.table__container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 80px 10px;
}
.table__box  {
    margin-top: 50px;
}
.table__box li {
    padding: 15px 0;
    border-top: 1px solid #cecaca;
}
.table__box li:last-child {
    border-bottom: 1px solid #cecaca;
}
.table__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.table__text h4 {
    margin-top: 30px;
    font-size: 18px;
  font-weight: 700;
  color: var(--main-color);
  text-align: center;
}
.table__text p {
    margin-top: 20px;
}
.table__text-subtitle {
    margin-top: 30px !important;
    font-weight: 600;
    font-size: 18px;
}

.footer {
    background-color: var(--main-color);
}
.footer__container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 50px 10px 0;
    color: #fff;
}
.footer__contacts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.footer__contact-img {
    max-width: 30px;
    margin-right: 20px;
}
.footer__contact-img img {
    width: 100%;
}
.footer__contact {
    display: flex;
}
.footer__link {
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-weight: 600;
}
.footer__rights {
    padding: 16px 0;
    border-top: 1px solid #ffffff34;
  border-bottom: 1px solid #ffffff34;
  font-size: 12px;
  line-height: 15px;
  color: #C4C4C4;
}
.footer__nav {
    padding: 15px 0 20px;
    display: flex;
}
.footer__links {
    margin-left: 50px;
    display: flex;
    width: 100%;
  justify-content: space-between;
}
.footer__links-social {
  display: flex;
  gap: 10px;
}
.footer__links-social img {
    width: 25px;
    display: block;
}
.footer__menu {
    display: flex;
    gap: 50px;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}
.privat__container {
    max-width: 1200px;
    margin: 70px auto 0;
    padding: 50px 15px;
    color: #1e1e1e;
}
.privat__field {
    padding: 14px 20px;
    border: 1px solid #0c5a3b2b;
    line-height: 20px;
}
.page-title {
    margin-bottom: 40px;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
}
.privat__field-text {
    text-align: end;
}
.privat__field-text a {
    font-weight: 600;
}
.bold {
    font-weight: 600;
}
.margin {
    margin-top: 20px;
    margin-bottom: 15px;
}
.privat-texts p {
    margin-top: 20px;
    line-height: 20px;
}
.privat__list-title {
    margin-top: 20px;
    font-weight: 700;
  font-size: 20px;
}
.privat__list li::marker {
    font-weight: 700;
  font-size: 20px;
}
.privat__list-subtitle {
    margin-top: 20px;
    font-weight: 700;
  font-size: 18px;
}
.subtitle-list {
    margin-top: 10px;
}
.subtitle-list li {
    list-style-type: disc;
}
.cancel-list, .cancel-ul {
    margin-top: 20px;
}
.cancel-ul li {
    list-style-type: disc;
}
.cancel-ul {
    margin-bottom: 20px;
}










@media (max-width: 1300px) {
    .bg__box, .advantages__items, .app__container, .table__container, .privat__container{
        max-width: 1000px;
    }
}
@media (max-width: 1230px) {
    .reviews__slider {
        padding-left: 10px;
    }
}
@media (max-width: 1180px) {
    .header__list {
        max-width: 800px;
    }
    .reviews__slider {
        max-width: 950px;
    }
    .reviews__slide {
        max-width: 260px;
        padding: 20px;
    }
}
@media (max-width: 1100px) {
    .header__list {
        max-width: 750px;
    }
    .privat {
        padding: 0 20px;
    }
}
@media (max-width: 1036px) {
    .header__list {
        max-width: 710px;
    }
    .bg__box, .app__container, .table__container {
        max-width: 900px;
    }
    .bg__img {
        max-width: 400px;
    }
}
@media (max-width: 998px) {
    .menu {
      position: relative;
    }
    .header {
      text-align: start;
    }
    .header__content {
      position: relative;
    }
    .header__contacts {
      position: absolute;
      right: 52px;
      opacity: 1;
    }
    .header-burger {
      display: flex;
      position: absolute;
      top: 30px;
    }

    .item-menu__logo span {
      color: #1E1E1E;
    }
    .header__nav li {
      display: block;
    }
    .header__nav-item {
      margin-left: 20px;
    }
    .header__nav .menu ul {
      padding-top: 30px;
    }
    .menu-btn {
      width: 30px;
      height: 30px;
      position: relative;
      z-index: 10;
      overflow: hidden;
      
    }
    .menu-btn span {
      width: 30px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #1E1E1E;
      transition: all 0.5s;
      color: #fff;
    }
    .menu-btn span:nth-of-type(2) {
      top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
      top: calc(50% + 5px);
    }
    .menu {
      position: fixed;
      padding-top: 20px;
      top: 80px;
      right: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      line-height: 1.8;
      color: #1E1E1E;
      transform: translateX(100%);
      transition: transform 0.5s;
      opacity: 1;
    }
    .menu.active {
      width: 300px;
      height: 450px;
      transform: translateX(0%);
      z-index: 5;
      opacity: 1;
    }
    .menu li {
      list-style-type: none;
      padding: 10px 0 10px 28px;
    }
    .menu-btn.active span:nth-of-type(1) {
      display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
      top: 50%;
      background-color: #1E1E1E;
      transform: translate(-50%, 0%) rotate(45deg);
    }
    .menu-btn.active span:nth-of-type(3) {
      top: 50%;
      background-color: #1E1E1E;
      transform: translate(-50%, 0%) rotate(-45deg);
    }

    .menu__list {
      display: block;
    }   
  }
@media (max-width: 998px) {
    .header__btn {
        max-width: 120px;
        margin-left: 20px;
    }
    .menu__tel {
        text-align: start;
    }
    .bg__box, .app__container, .table__container {
        max-width: 800px;
        gap: 30px;
    }
    .borrow__container {
        padding: 50px 10px;
    }
    .advantages__container {
        padding: 50px 20px;
    }
    .reviews__container, .table__container {
        padding: 50px 10px;
    }
    .reviews__slider {
        max-width: 850px;
    }
    .reviews__slide {
        max-width: 230px;
        min-height: 410px;
      }
      .privat {
        padding: 0 30px;
      }
}
@media (max-width: 830px) {
    .bg__title, .bg__subtitle {
        font-size: 36px;
        line-height: 40px;
    }
    .bg__container {
        padding: 0 20px;
    }
    .borrow__items {
        gap: 20px;
    }
    .reviews__slide {
        max-width: 300px;
        min-height: 360px;
    }
    .main-button-prev, .main-button-next {
        display: none;
    } 
    .app__content h2 {
        font-size: 34px;
    }
    .app__subtitle {
        margin-top: 25px;
        font-size: 20px;
    }
    .app__container, .table__container {
        max-width: 700px;
    }
}
@media (max-width: 790px) {
    .bg__img {
        max-width: 350px;
    }
    .borrow__item-number {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
    .reviews__slider {
        margin: 30px auto 0;
    }
    .table__box {
        margin-top: 30px;
    }
    .advantages__title {
        margin-bottom: 30px;
      }
}
@media (max-width: 755px) {
    .bg__content {
        margin-top: 70px;
      }
}

@media (max-width: 650px) {
    .bg__title, .bg__subtitle {
        font-size: 34px;
        line-height: 38px;
    }
    .advantages__items {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .borrow__items {
        margin: 30px auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .app__content {
        margin-top: 50px;
    }
    .app__img {
        max-width: 250px;
        flex-shrink: 0;
    }
    .app__img img{
        width: 100%;
    }
    .app__content h2 {
        font-size: 30px;
    }
    .table__box li {
        padding: 10px 0;
    }
    .table__item {
        grid-template-columns: 35% auto;
    }
    .footer__contacts {
        gap: 10px;
    }
    .footer__contact-img {
        max-width: 20px;
        margin-right: 10px;
      }
}
@media (max-width:600px) {
    .bg__title, .bg__subtitle {
        font-size: 32px;
        line-height: 36px;
    }
    .bg__btn {
        margin-top: 30px;
    }
    .bg__box {
        padding: 80px 0 0;
    }
    .bg__content {
        margin-top: 50px;
      }
}
@media (max-width: 550px) {
    .bg__img {
        margin-right: -40px;
    }
    .app__content h2 {
        font-size: 28px;
    }
    .app__subtitle {
        font-size: 18px;
    }
    .table__box {
        font-size: 14px;
    }
    .footer__menu {
        display: block;
    }
    .footer__menu li+li {
        margin-top: 5px;
    }
    .footer__contacts {
        flex-wrap: wrap;
        justify-content: start;
        gap: 30px;
    }
}
@media (max-width: 535px) {
    .bg__content {
        margin-top: 30px;
      }
}
@media (max-width: 500px) {
    .bg__box {
        padding: 100px 0 0;
        gap: 0;
      }
      .bg__title, .bg__subtitle {
        font-size: 30px;
        line-height: 32px;
      }
    .advantages__item {
        max-width: 330px;
        padding: 20px;
    }
    .advantages__item-list {
        font-size: 14px;
    }
    .title {
        font-size: 30px;
        line-height: 34px;
    }
    .reviews__slide {
        min-height: 410px;
    }
    .app__img {
        max-width: 200px;
    }
    .app__subtitle {
        font-size: 16px;
    }
    .app__content h2 {
        font-size: 26px;
    }
    .app__content {
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .app__container {
        padding: 0 20px 0;
    }
    .table__item {
        grid-template-columns: 37% auto;
    }
    .table__container {
        padding: 50px 20px;
    }
    .table__text-subtitle {
        margin-top: 20px !important
    }
    .table__text p {
        margin-top: 15px;
        font-size: 14px;
    }
    .table__text h4 {
        margin-top: 20px;
        font-size: 16px;
    }
    .footer__container {
        padding: 50px 20px 0;
    }
    .privat {
        font-size: 14px;
    }
    .privat__field {
        font-size: 14px;
        line-height: 18px;
    }
    .page-title {
        font-size: 26px;
    }
    .privat-texts p {
        margin-top: 15px;
        line-height: 18px;
    }
    .privat__list-subtitle {
        margin-top: 15px;
        font-size: 16px;
    }
    .privat__container {
        margin: 50px auto 0;
    }
}
@media (max-width: 460px) {
    .bg__box {
        flex-wrap: wrap;
    }
    .bg__container {
        height: 480px;
        position: relative;
    }
    .bg__img {
        margin-right: -40px;
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 280px;
      }
    .bg__title, .bg__subtitle {
        font-size: 30px;
        line-height: 34px;
    }
    .bg__btn {
        max-width: 200px;
        margin-top: 30px;
    }
    .advantages__items {
        display: block;
    }
    .advantages__item {
        margin: 0 auto 15px;
    }
    .reviews__slide {
       min-height: 330px;
    }
    .app__subtitle {
        max-width: 200px;
      }
      .app__img {
        position: absolute;
        right: 0;
      }
      .app__container {
        position: relative;
    }
    .app__img {
        max-width: 140px;
      }
}
@media (max-width: 430px) {
    .bg__title, .bg__subtitle {
        max-width: 270px;
    }
    .footer__links {
        margin-left: 30px;
    }
    .footer__links-social {
        gap: 5px;
    }
}
@media (max-width: 400px) {
    .bg__title, .bg__subtitle {
        font-size: 30px;
        line-height: 32px;
      }
      .bg__img {
        margin-right: -50px;
      }
      .bg__btn {
        max-width: 180px;
      }
    .footer__links-social img {
        width: 20px;
    }
    .footer__rights {
        font-size: 10px;
    }
}
@media (max-width: 360px) {
    .reviews__slide {
        min-height: 350px;
    }
    .app__subtitle {
        max-width: 180px;
      }
      .app__btn {
        width: 160px;
      }

}